<p id="notice"><%= notice %></p>

<h1>Conventions</h1>

<table>
  <thead>
    <tr>
      <th>Convention</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conventions.each do |convention| %>
      <tr>
        <td><%= convention.convention %></td>
        <td><%= convention.description %></td>
        <td><%= convention.image %></td>
        <td><%= link_to 'Show', convention %></td>
        <td><%= link_to 'Edit', edit_convention_path(convention) %></td>
        <td><%= link_to 'Destroy', convention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convention', new_convention_path %>
