<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @report.mail %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @report.observation %>
</p>

<p>
  <strong>Coordinate:</strong>
  <%= @report.coordinate %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
